# Ignore everything in the .ddev folder
.ddev/*
# But keep the config.yaml and docker-compose.override.yaml
!.ddev/config.yaml
!.ddev/docker-compose.override.yaml
# Ignore filtered_data.json
filtered_data.json