/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e0e0e0;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.button-container {
    margin: 20px 0;
}

.button-container button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #45a049;
}

#graph {
    margin-top: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

#statistics {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
